.section-title {
  position: relative;
}
.section-title:before {
  position: absolute;
  content: "";
  width: .8em;
  height: .8em;
  border-radius: 50%;
  left: -1.1em;
  top: .2em;
}

.section-title.red:before { background-color: red; }
.section-title.orange:before { background-color: orange; }
.section-title.yellow:before { background-color: yellow; }
.section-title.green:before { background-color: green; }
.section-title.blue:before { background-color: blue; }
.section-title.purple:before { background-color: purple; }
.section-title.pink:before { background-color: pink; }
.section-title.black:before { background-color: black; }


.section-title.white:before {
  border: 2px solid #ccc;
  width: .7em;
  height: .7em;
}

// make videos responsive

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-bottom: 54%;
  padding-top: 25px;
  height: 0;
}
.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

// make the container responsive and add margins for small screens

.container {
  max-width: 960px;
  padding-bottom: 1.4em;
  padding-top: 1.4em;
}

.markdown-body table td {
  border: none;
}

.markdown-body table tr:nth-child(2n) {
    background-color: transparent;
}

.markdown-body table tr {
    background-color: #fff;
    border-top: none;
    border-bottom: 2px solid #666;
}

@media (max-width: 979px) {
  .container {
    margin-left: 1.7rem;
    margin-right: 1.7rem;
    max-width: 90%;
  }
}


@media (max-width: 600px) {

  .markdown-body table td {
    padding: 4px 6px;
    font-size: 90%;
  }

  .markdown-body {

    h1 { padding-bottom: 0.3em; font-size: 1.8em; border-bottom: 1px solid #eaecef; }
    h2 { padding-bottom: 0.3em; font-size: 1.4em; border-bottom: 1px solid #eaecef; }
    h3 { font-size: 1.1em; }
    h4 { font-size: .95em; }
    h5 { font-size: 0.875em; }
    h6 { font-size: 0.85em; color: #6a737d; }

  }

}
