<script type="text/javascript">
  var page_data = {
    org_name: "{{page.org_name}}",
    org_url: "{{page.org_url}}",
    toc: [],
    title: "{{ page.title }}",
    mission_names: {}
  };

  {% include org/all_mission_names.html %}

  var item;
  {% for item in page.toc %} item = {level: "{{ item.level }}", missions: [] };
  {% for mission in item.missions %}item.missions.push({name:"{{site.data.mission_names.mission_names[mission]}}", id:"{{mission}}"}); {% endfor %}
  page_data.toc.push(item)
  {% endfor %}

</script>

<noscript>
  <h1>{{ page.title }}</h1>
  {% for item in page.toc %}
  <h3>{{item.level}}</h3>
  <ul>
  {% for mission in item.missions %}  <li><a href="/missions/{{ mission }}">{{ site.data.mission_names.mission_names[mission] }}</a></li>
  {% endfor %}</ul>
  {% endfor %}

  <hr>
  <h5>Please enable JavaScript. Currently you're viewing the no-javascript version of the site which lacks proper formatting, mission titles and full-featured navigation.</h5>
  <p>We use only three JavaScript libraries: Vue.js, axios and Google Analytics. Vue.js and axios are necessary for viewing the content of the learning missions. Google Analytics allows us to track site use and is optional.</p>
  <hr>

</noscript>

{% raw %}

<script type="text/x-template" id="mission-component-template">
  <div>
    <div v-if="!error">
      <h2>{{ mission.name }}</h2>
      <div v-html="html"></div>
    </div>
    <div v-else>
      <h2>Sorry, we couldn't fetch mission #{{ mission.id}}</h2>
      <p>
        Please go back and try another mission. Also, please notify us of the error so we can fix it. <br>
        Error details: {{error}}
      </p>
    </div>
  </div>
</script>


<script type="text/x-template" id="toc-component-template" >
  <div>
    <h2>{{ page_title}}</h2>
    <div class="level" v-for="item in toc">
      <h3 >{{ item.level }}</h3>
      <ul>
        <li v-for="mission in item.missions">
          <router-link :to="'/mission/'+mission.id">{{mission.name}}</router-link>
        </li>
      </ul>
    </div>
  </div>
</script>

<div id="app" v-cloak>
  <a :href="'/org/'+this.page_data.org_url">{{ this.page_data.org_name }}</a> /
  <span v-if="current_mission">
    <router-link to="/" >{{ this.page_data.title }}</router-link> /
  </span>
  <router-view></router-view>
</div>

{% endraw %}