<hr>
<!-- set the missions for display -->
<script type="text/javascript">
  var page_data = {
    org_name: "{{page.org_name}}",
    org_url: "{{page.org_url}}",
    toc: [],
    title: "{{ page.title }}",
    mission_names: {}
  };


  {% for mission_name in site.data.mission_names.mission_names %} page_data.mission_names["{{mission_name[0]}}"] = "{{mission_name[1]}}"; {% endfor %}

  var item;
  {% for item in page.toc %}
  item = {level: "{{ item.level }}", missions: [] };
  {% for mission in item.missions %}item.missions.push({mname:"{{site.data.mission_names.mission_names[mission]}}", mid:"{{mission}}"}); {% endfor %}
  page_data.toc.push(item)
  {% endfor %}
</script>

<noscript>
  <h1>{{ page.title }}</h1>
  {% for item in page.toc %}
  <h3>{{item.level}}</h3>
  <ul>
  {% for mission in item.missions %}  <li><a href="/missions/{{ mission }}">{{ site.data.mission_names.mission_names[mission] }}</a></li>
  {% endfor %}</ul>
  {% endfor %}

  <hr>
  <h5>Please enable JavaScript. Right now you're viewing the content without proper formatting and without titles on the mission pages.</h5>
  <p>We use three JavaScript libraries: Vue.js, axios and Google Analytics. Vue.js and axios are necessary for viewing the content of the learning missions. Google Analytics allows us to track site use and is optional.</p>
  <hr>

</noscript>

{% raw %}
<div id="app" v-cloak>

  <p v-if="current_mission">
    <a :href="'/org/'+page_data.org_url">{{ page_data.org_name }}</a>
    /
    <a href="#" v-on:click.prevent="close_mission" title="Please use this link, your browser's back button won't work.">{{ page_data.title }} </a>
    /
  </p>
  <p v-else>
    <a :href="'/org/'+page_data.org_url">{{ page_data.org_name }}</a> /
  </p>

  <h1 v-if="current_mission"><a href="#" v-on:click.prevent="close_mission">&larr; </a>{{ current_title }}</h1>
  <h1 v-else>{{ current_title }}</h1>

  <div class="level" v-for="item in toc" v-if="!current_mission">
    <h3 >{{ item.level }}</h3>
    <ul>
      <li v-for="mission in item.missions">
        <a :href="'/missions/'+mission.mid" v-on:click.prevent="open_mission(mission)">{{mission.mname }}</a>
      </li>
    </ul>
  </div>

  <div v-if="current_mission" v-html="current_mission.html"></div>
  <hr>
  <p v-if="current_mission">
    <a href="#" v-on:click.prevent="close_mission" title="Please use this link, your browser's back button won't work.">&larr; Back to list of missions ({{ page_data.title }})</a>
  </p>

</div>

{% endraw %}