---
---

@import "{{ site.theme }}";

.section-header {
  position: relative;
}
.section-header:before {
  position: absolute;
  content: "";
  width: .8em;
  height: .8em;
  border-radius: 50%;
  left: -1.1em;
  top: .2em;
}

.section-header.red:before { background-color: red; }
.section-header.orange:before { background-color: orange; }
.section-header.yellow:before { background-color: yellow; }
.section-header.green:before { background-color: green; }
.section-header.blue:before { background-color: blue; }
.section-header.purple:before { background-color: purple; }
.section-header.pink:before { background-color: pink; }


.section_header.white {
  border: 1px solid grey;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-bottom: 54%;
  padding-top: 25px;
  height: 0;
}
.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}


@media (max-width: 979px) {
  .container {
    max-width: 979px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
}