---
title: "Tango Lexicon: Sequence Generator"
layout: lexicon-generator-vue
---
<h1>{{ page.title }}</h1>

<div class="lexicon-generator" id="root">
    <form class="form">
        <div class="field">
            <label for="dance_system">System: </label>
            <select id="dance_system" name="dance_system" v-model="form_data.dance_system">
                <option value="parallel">
                    Only Parallel
                </option>
                <option value="cross">
                    Only Cross
                </option>
                <option value="both">
                    Parallel and Cross
                </option>
            </select>
        </div>
        <div class="field">
            <label for="moves">Number of moves: </label>
            <select id="moves" name="moves" v-model="form_data.moves">
                <option>
                    5
                </option>
                <option>
                    8
                </option>
                <option>
                    16
                </option>
            </select>
        </div>
        <div class="field">
            <label for="as_bullets">Bullet list?</label>
            <input id="as_bullets" name="as_bullets" type="checkbox" @click="toggle_list_type"/>
        </div>
        <div class="field">
            <input @click.prevent="generate" type="submit" value="Generate!" />
        </div>
    </form>
    <div class="sequence">
        <p class="instructions js-tooltip" title="tootltip content" v-if="show.instructions">
            Use the form above to generate a sequence!
        </p>
        <ul class="steps-bullets" v-if="show.bullet_list">
          <li v-for="item in formatted_sequence" >
            <span :aria-label="item.title" class="js-tooltip hint--right" v-text="item.word"></span>
          </li>
        </ul>

        <p class="steps-list" v-if="show.word_list">
          <span  v-for="item in formatted_sequence">
            <span :aria-label="item.title" class="hint--top" v-text="item.word"></span><span v-text="item.connector"></span>
          </span>
        </p>
    </div>
</div>
