---
title: "Reference: List of all missions"
layout: default
---

<h1>{{ page.title }}</h1>

<p>This page is up-to-date with missions in the /missions folder.</p>

<table>

<tr>
  <td><strong>title</strong></td>
  <td><strong>hashtag</strong></td>
  <td><strong>file</strong></td>  
</tr>

{% for page in site.pages %}
{% if page["path"] contains "missions/" %}
{% if page["path"] contains "v1/missions" %} {% else %}

<tr>
  <td>{{ page["title"] }}</td>
  <td>{{ page["hashtag"] }}</td>
  <td><a href="https://github.com/andreimoment/tangomanual/blob/master/{{ page['path'] }}" title="View on GitHub.">{{ page["path"] }}</a></td>
  <!-- <td>{{ page["name"] | replace: ".md", "" }}</td> -->
</tr>
{% endif %}{% endif %} {% endfor %}

</table>
