<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/lexicon.css?v=' | append: site.github.build_revision | relative_url }}">


    <script src="https://unpkg.com/lodash@4.17.4"></script>



  </head>
  <body>
    <div class="container markdown-body">
      {{ content }}
    </div>

    {% include ga.html %}

    <script src="https://unpkg.com/vue@2.3.3"></script>
    <script src="{{ '/assets/js/lexicon-generator-vue.js?v=' | append: site.github.build_revision | relative_url }}"></script>
  </body>
</html>
